<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>2FA Demo</title>
  <%- include('reset.css.ejs'); %>
	<%- include('material.css.ejs'); %>
	<%- include('material.js.ejs'); %>
	<%- include('index.css.ejs'); %>
</head>
	<body>
		<div id="root" class="root">
			<%- include('modal/signup-first-factor'); %>

			<div class="content">
				<span class="content__col">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ducimus accusantium magnam sit? Architecto quod nemo molestiae ex, sapiente quasi adipisci eligendi non. Odio porro eum, voluptates illum debitis eius.</p>
				</span>
				<span class="content__col">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ducimus accusantium magnam sit? Architecto quod nemo molestiae ex, sapiente quasi adipisci eligendi non. Odio porro eum, voluptates illum debitis eius.</p>
				</span>
				<span class="content__col">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ducimus accusantium magnam sit? Architecto quod nemo molestiae ex, sapiente quasi adipisci eligendi non. Odio porro eum, voluptates illum debitis eius.</p>
				</span>
			</div>
		</div>

		<template>
			<%- include('modal/signup-second-factor'); %>
			<%- include('modal/signin-first-factor'); %>
		</template>

		<%- include('index.js.ejs'); %>
	</body>
</html>